In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('gender_submission.csv')
data_train = pd.read_csv('train.csv')
data_test = pd.read_csv('test.csv')

In [ ]:
# Organizando os dados

In [ ]:
data_train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
data_train.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [ ]:
data_train.shape

(891, 12)

In [ ]:
data_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# Excluindo a coluna Cabin, que tem muitos valores faltantes 

data_train.drop(columns=['Cabin'], axis=1, inplace=True)

KeyError: ignored

In [ ]:
# Opção: Substituindo os valores faltantes de idade pela mediana

In [ ]:
data_train['Age'].fillna(data_train['Age'].median(), inplace=True)

In [ ]:
data_train.dropna(axis=0, subset=['Embarked'],inplace=True)

In [ ]:
# Deletando a coluna de nomes, por não trazer nenhuma informação relevante para o problema
data_train.drop(axis=1, columns=['Name'], inplace=True)

In [ ]:
# Substituindo na coluna 'Sex' male = 0, female = 1
data_train['Sex'][data_train['Sex'] == 'male'] = 0
data_train['Sex'][data_train['Sex'] == 'female'] = 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# Analisando a quantidade de strings que possuem letras na coluna de Ticket
# A quantidade é significativa demais pra ser excluída, e não faz sentido substituir por nenhum outro valor
# Optou-se por deletar a coluna 
count = 0

for name in data_train['Ticket'].values:
  if name.isdigit() == False:
    count = count +1

print(count)

230

In [ ]:
data_train.drop(axis=1, columns=['Ticket'], inplace=True)

In [ ]:
# Substituindo na coluna 'Embarked' S = 0, C = 1, Q = -1
data_train['Embarked'][data_train['Embarked'] == 'S'] = 0
data_train['Embarked'][data_train['Embarked'] == 'C'] = 1
data_train['Embarked'][data_train['Embarked'] == 'Q'] = -1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
data_train.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [ ]:
for name in data_train.columns:
  value_count = data_train[name].value_counts()
  print(value_count)

891    1
293    1
304    1
303    1
302    1
      ..
590    1
589    1
588    1
587    1
1      1
Name: PassengerId, Length: 889, dtype: int64
0    549
1    340
Name: Survived, dtype: int64
3    491
1    214
2    184
Name: Pclass, dtype: int64
0    577
1    312
Name: Sex, dtype: int64
28.00    202
24.00     30
22.00     27
18.00     26
30.00     25
        ...
55.50      1
70.50      1
66.00      1
23.50      1
0.42       1
Name: Age, Length: 88, dtype: int64
0    606
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64
0    676
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64
8.0500     43
13.0000    42
7.8958     38
7.7500     34
26.0000    31
           ..
7.8000      1
13.8583     1
7.6292      1
15.0500     1
8.6833      1
Name: Fare, Length: 247, dtype: int64
 0    644
 1    168
-1     77
Name: Embarked, dtype: int64

In [ ]:
# Usando o classificador

In [ ]:
 from sklearn.ensemble import RandomForestClassifier
 from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
clf = RandomForestClassifier()

In [ ]:
data_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked'],
      dtype='object')

In [ ]:
X = pd.DataFrame(columns=['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Embarked'], data=data_train)
y = pd.DataFrame(columns=['Survived'], data=data_train)

In [ ]:
clf.fit(X, y)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
# Tratando os dados de teste

In [ ]:
data_test.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [ ]:
data_test.drop(columns=['Cabin'], axis=1, inplace=True)

In [ ]:
data_test.head(373)

     PassengerId  Pclass  ...      Fare Embarked
0            892       3  ...    7.8292        Q
1            893       3  ...    7.0000        S
2            894       2  ...    9.6875        Q
3            895       3  ...    8.6625        S
4            896       3  ...   12.2875        S
..           ...     ...  ...       ...      ...
368         1260       1  ...   59.4000        C
369         1261       2  ...   13.8583        C
370         1262       2  ...   11.5000        S
371         1263       1  ...  134.5000        C
372         1264       1  ...    0.0000        S

[373 rows x 10 columns]

In [ ]:
data_test['Age'].fillna(data_test['Age'].median(), inplace=True)

In [ ]:
data_test['Fare'][data_test['Fare'] <= 0] = data_test['Fare'].mean()

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data_test['Fare'].fillna(data_test['Fare'].mean(), inplace=True)

In [ ]:
data_test.isna().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [ ]:
# Substituindo na coluna 'Embarked' S = 0, C = 1, Q = 2
data_test['Embarked'][data_test['Embarked'] == 'S'] = 0
data_test['Embarked'][data_test['Embarked'] == 'C'] = 1
data_test['Embarked'][data_test['Embarked'] == 'Q'] = -1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
data_test.drop(axis=1, columns=['Ticket'], inplace=True)

KeyError: ignored

In [ ]:
data_test.drop(axis=1, columns=['Name'], inplace=True)

In [ ]:
for name in data_test.columns:
  value_count = data_test[name].value_counts()
  print(value_count)

1023    1
1128    1
1156    1
1157    1
1158    1
       ..
1305    1
1306    1
1307    1
1308    1
1024    1
Name: PassengerId, Length: 418, dtype: int64
3    218
1    107
2     93
Name: Pclass, dtype: int64
0    266
1    152
Name: Sex, dtype: int64
27.0    98
24.0    17
21.0    17
22.0    16
30.0    15
        ..
7.0      1
60.5     1
26.5     1
76.0     1
34.5     1
Name: Age, Length: 79, dtype: int64
0    283
1    110
2     14
4      4
3      4
8      2
5      1
Name: SibSp, dtype: int64
0    324
1     52
2     33
3      3
9      2
4      2
6      1
5      1
Name: Parch, dtype: int64
7.7500     21
26.0000    19
8.0500     17
13.0000    17
7.8958     11
           ..
9.3250      1
14.4583     1
15.0333     1
25.4667     1
21.0750     1
Name: Fare, Length: 170, dtype: int64
 0    270
 1    102
-1     46
Name: Embarked, dtype: int64

In [ ]:
# Substituindo na coluna 'Sex' male = 0, female = 1
data_test['Sex'][data_test['Sex'] == 'male'] = 0
data_test['Sex'][data_test['Sex'] == 'female'] = 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
data_test.columns

Index(['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [ ]:
X_test = pd.DataFrame(columns=['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'], data=data_test)

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
y_pred.shape

(418,)

In [ ]:
data.shape

(418, 2)

In [ ]:
data.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [ ]:
y_true = pd.DataFrame(columns=['Survived'], data=data)

In [ ]:
# Matriz de confusão

In [ ]:
from sklearn.metrics import confusion_matrix

confusion = confusion_matrix(y_true, y_pred)

In [ ]:
confusion

array([[229,  37],
       [ 48, 104]])

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

accuracy = accuracy_score(y_true, y_pred)
precision = precision_score(y_true, y_pred)
recall = recall_score(y_true, y_pred)
f1 = f1_score(y_true, y_pred)

In [ ]:
print(accuracy, precision, recall, f1)

0.7966507177033493 0.7375886524822695 0.6842105263157895 0.7098976109215016